{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<h1 class="display-3">Protected Clip</h1>
<div class="container p-5">
  <div class="row">
    <div class="col-lg-6 mx-auto border rounded-3 w-auto">
      <form action="/key" method="post" class="container p-5">
        <div class="card-header">
          <div class="mb-3">
            <input
              autocomplete="off"
              autofocus
              class="form-control border-white mx-auto"
              id="key"
              name="key"
              type="text"
              placeholder="Key"
              value="{{key}}"
              readonly
            />
          </div>
          <div class="mb-3">
            <input
              class="form-control mx-auto"
              id="pw"
              name="pw"
              placeholder="Password"
              type="text"
            />
          </div>
          <button class="btn btn-primary" type="submit">View Clip</button>
        </div>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
