{% extends "layout.html" %} {% block title %} Update {% endblock %} {% block
main %}
<form action="/update" method="post" class="container rounded-3 border p-5">
  <div class="row mb-3 w-auto">
    {% for i in query %}
    <label for="key" class="col-sm-1 col-form-label fs-4" align="left"
      >Editing:</label
    >
    <div class="col-sm-10">
      <input
        autocomplete="off"
        class="form-control border-white fs-4"
        id="key"
        name="key"
        placeholder="Key"
        type="text"
        value="{{i.key}}"
        readonly
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="title" class="col-sm-1 col-form-label" align="left"
      >Title</label
    >
    <div class="col-sm-10">
      <input
        autocomplete="off"
        autofocus
        class="form-control"
        id="title"
        name="title"
        placeholder="CodeClip Title*"
        type="text"
        value="{{i.title}}"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="newkey" class="col-sm-1 col-form-label" align="left"
      >New Key</label
    >
    <div class="col-sm-10">
      <input
        autocomplete="off"
        class="form-control"
        id="keynew"
        name="keynew"
        placeholder="Key"
        type="text"
        value="{{i.key}}"
      />
      <!---  <div class="text-muted text-start">Enter your new Secuirty Key</div>-->
    </div>
  </div>
  <div class="row mb-3">
    <label for="lang" class="col-sm-1 col-form-label" align="left"
      >Language</label
    >
    <div class="col-sm-10">
      <input
        autocomplete="off"
        class="form-control"
        id="lang"
        name="lang"
        placeholder="Language"
        type="text"
        value="{{i.lang}}"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="code" class="col-sm-1 col-form-label" align="left">Code</label>
    <div class="col-sm-10">
      <textarea
        class="form-control"
        placeholder="Paste Code*"
        id="code"
        name="code"
        style="height: 15rem"
      >
{{i.code}}</textarea
      >
    </div>
  </div>
  <div class="row mb-3">
    <label for="pw" class="col-sm-1 col-form-label" align="left"
      >Password</label
    >
    <div class="col-sm-10">
      <input
        autocomplete="off"
        class="form-control"
        id="pw"
        name="pw"
        placeholder="Enter new password"
        type="text"
      />
    </div>
    {% endfor %}
  </div>
  <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock %}
